<div class="container-fluid">
    <app-page-title title="KYC Application" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  
    <!-- Stat Boxes -->
    <div class="row mb-4">
      <div class="col-md-3">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Rendement Global</h5>
            <p class="card-text text-primary">
              {{ rendementGlobal | number:'1.2-2' }} %
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Gain/Perte Ratio</h5>
            <p class="card-text text-success">
              {{ gainPerteRatio | number:'1.2-2' }}
            </p>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Button to Save Rendements -->
    <div class="row mb-4">
      <div class="col-md-12 text-center">
        <button class="btn btn-primary" (click)="sauvegarderRendements(1)">
          Sauvegarder Rendements
        </button>
        <div *ngIf="successMessage" class="mt-3 text-success">
          {{ successMessage }}
        </div>
      </div>
    </div>
  
    <!-- Charts -->
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-4">Rendements par Produit</h4>
            <apx-chart class="apex-charts" [series]="lineColumAreaChart.series" [chart]="lineColumAreaChart.chart"
              [xaxis]="lineColumAreaChart.xaxis" [yaxis]="lineColumAreaChart.yaxis" [colors]="lineColumAreaChart.colors">
            </apx-chart>
          </div>
        </div>
      </div>
  
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-4">Poids des Produits (Pie Chart)</h4>
            <apx-chart class="apex-charts" [series]="pieChart.series" [chart]="pieChart.chart" [labels]="pieChart.labels"
              [colors]="pieChart.colors">
            </apx-chart>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-4">Profit ou Perte (Bubble Chart)</h4>
            <apx-chart class="apex-charts" [series]="bubbleChart.series" [chart]="bubbleChart.chart" [xaxis]="bubbleChart.xaxis"
              [colors]="bubbleChart.colors">
            </apx-chart>
          </div>
        </div>
      </div>
  
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-4">Rendements (Bar Chart)</h4>
            <apx-chart class="apex-charts" [series]="barChart.series" [chart]="barChart.chart" [xaxis]="barChart.xaxis"
              [colors]="barChart.colors">
            </apx-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
  